<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GolX20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,44}</string>
                <key>spriteSourceSize</key>
                <string>{130,44}</string>
                <key>textureRect</key>
                <string>{{251,23},{130,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,299}</string>
                <key>spriteSourceSize</key>
                <string>{457,299}</string>
                <key>textureRect</key>
                <string>{{0,693},{457,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goldtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,91}</string>
                <key>spriteSourceSize</key>
                <string>{413,91}</string>
                <key>textureRect</key>
                <string>{{232,229},{413,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PassBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,425}</string>
                <key>spriteSourceSize</key>
                <string>{768,425}</string>
                <key>textureRect</key>
                <string>{{0,992},{768,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PassTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,91}</string>
                <key>spriteSourceSize</key>
                <string>{413,91}</string>
                <key>textureRect</key>
                <string>{{0,320},{413,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelPass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,23}</string>
                <key>spriteSourceSize</key>
                <string>{235,23}</string>
                <key>textureRect</key>
                <string>{{288,0},{235,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,78}</string>
                <key>spriteSourceSize</key>
                <string>{185,78}</string>
                <key>textureRect</key>
                <string>{{727,70},{185,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelShare1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,23}</string>
                <key>spriteSourceSize</key>
                <string>{212,23}</string>
                <key>textureRect</key>
                <string>{{523,0},{212,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,81}</string>
                <key>spriteSourceSize</key>
                <string>{321,81}</string>
                <key>textureRect</key>
                <string>{{417,148},{321,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,91}</string>
                <key>spriteSourceSize</key>
                <string>{413,91}</string>
                <key>textureRect</key>
                <string>{{413,320},{413,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,81}</string>
                <key>spriteSourceSize</key>
                <string>{232,81}</string>
                <key>textureRect</key>
                <string>{{738,148},{232,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkinBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,299}</string>
                <key>spriteSourceSize</key>
                <string>{457,299}</string>
                <key>textureRect</key>
                <string>{{457,693},{457,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkinTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,91}</string>
                <key>spriteSourceSize</key>
                <string>{413,91}</string>
                <key>textureRect</key>
                <string>{{0,411},{413,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,47}</string>
                <key>spriteSourceSize</key>
                <string>{98,47}</string>
                <key>textureRect</key>
                <string>{{381,23},{98,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,20}</string>
                <key>spriteSourceSize</key>
                <string>{107,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{413,411},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{212,23},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>determine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,80}</string>
                <key>spriteSourceSize</key>
                <string>{232,80}</string>
                <key>textureRect</key>
                <string>{{185,148},{232,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,22}</string>
                <key>spriteSourceSize</key>
                <string>{91,22}</string>
                <key>textureRect</key>
                <string>{{107,0},{91,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,81}</string>
                <key>spriteSourceSize</key>
                <string>{232,81}</string>
                <key>textureRect</key>
                <string>{{0,229},{232,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,22}</string>
                <key>spriteSourceSize</key>
                <string>{90,22}</string>
                <key>textureRect</key>
                <string>{{198,0},{90,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,523}</string>
                <key>spriteSourceSize</key>
                <string>{768,523}</string>
                <key>textureRect</key>
                <string>{{0,1417},{768,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,282}</string>
                <key>spriteSourceSize</key>
                <string>{496,282}</string>
                <key>textureRect</key>
                <string>{{527,411},{496,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,76}</string>
                <key>spriteSourceSize</key>
                <string>{727,76}</string>
                <key>textureRect</key>
                <string>{{0,70},{727,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unSelPass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,23}</string>
                <key>spriteSourceSize</key>
                <string>{235,23}</string>
                <key>textureRect</key>
                <string>{{735,0},{235,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unSelShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,78}</string>
                <key>spriteSourceSize</key>
                <string>{185,78}</string>
                <key>textureRect</key>
                <string>{{0,148},{185,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unSelShare1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,23}</string>
                <key>spriteSourceSize</key>
                <string>{212,23}</string>
                <key>textureRect</key>
                <string>{{0,23},{212,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home2.png</string>
            <key>size</key>
            <string>{1023,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:086f586cabe6520bf3845ede9c1f108a:f28d3bab8adfae48b6c193969f643a43:d946b3089fffacfc31bc1f89b60933cd$</string>
            <key>textureFileName</key>
            <string>home2.png</string>
        </dict>
    </dict>
</plist>
