<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>room_1_pastoral.png</key>
		<dict>
			<key>frame</key>
			<string>{{10,6},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_2_town.png</key>
		<dict>
			<key>frame</key>
			<string>{{10,589},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_3_tropicana.png</key>
		<dict>
			<key>frame</key>
			<string>{{10,881},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_4_mechanicus.png</key>
		<dict>
			<key>frame</key>
			<string>{{10,298},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_5_labirint.png</key>
		<dict>
			<key>frame</key>
			<string>{{10,1465},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_6_olimpic.png</key>
		<dict>
			<key>frame</key>
			<string>{{10,1173},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_7_metelica.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,6},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_8_christmas.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,298},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
		<key>room_9_kaleidoscop.png</key>
		<dict>
			<key>frame</key>
			<string>{{10,1755},{489,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,287}}</string>
			<key>sourceSize</key>
			<string>{489,287}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>textureFileName</key>
		<string>RoomsBackground.png</string>
	</dict>
</dict>
</plist>
