<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,742},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,803},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,864},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,925},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,986},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1047},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1108},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1169},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1230},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1291},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1352},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1413},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1474},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1535},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1596},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1657},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1718},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1779},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,1840},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{42,0},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{50,0},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{6,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{0,8},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{8,8},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{12,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{18,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{24,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{30,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{36,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{16,8},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{24,8},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{32,8},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{40,8},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{48,8},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{0,16},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{8,16},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rope9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{16,16},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,170},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,222},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,274},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,326},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,378},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,430},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,482},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,534},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,586},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,638},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,690},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{24,16},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{0,38},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{21,38},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{42,38},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{0,60},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{21,60},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{42,60},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{0,82},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{21,82},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{42,82},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{0,104},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{21,104},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{42,104},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{0,126},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{21,126},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{42,126},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{0,148},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{21,148},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{42,148},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin.png</string>
            <key>size</key>
            <string>{63,1901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03e53547974497656909325c8bf402a1:824e97a4373fc6c3462d80b5a0541427:5caa1d6f923edb74bd21e593a1751239$</string>
            <key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
